/*
    GLOBAL
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


/*
    REUSABLE
*/
.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    cursor: pointer;
    font-family: 'Black Ops One', cursive;
    font-size: 14px;
    text-transform: uppercase;
    height: 48px;
    color: #ffffff;
    display: grid;
    place-content: center;
    border-radius: 12px;
}
.btn--primary {
    width: 154px;
    background-color: #0666F6;
}
.btn--secondary {
    width: 170px;
    background-color: #ED7171;
}
.btn--wide {
    width: 170px;
}

/*
    Typography
*/
h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -3px;
}

h2 {
    font-family: 'Black Ops One', cursive;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
}

h3 {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}

.text-description {
    font-size: 16px;
    line-height: 32px;
    opacity: 0.5;
}

@media screen and (max-width: 599px) {
    h1 {
        font-size: 52px;
        line-height: 60px;
    }
    h2 {
        font-size: 40px;
        line-height: 48px;
    }
    h4 {
        font-size: 18px;
    }
}


/*
    NAV
*/
nav {
    background-color: #25243A;
    padding: 15px 16px 15px 24px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 81px;
    height: 48px;
}

nav .logo img {
    width: 100%;
    height: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 70px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
}

nav .contact-button {
    cursor: pointer;
    font-family: 'Black Ops One', cursive;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    width: 138px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 12px;
    display: grid;
    place-content: center;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 799px) {
    .hamburger {
        cursor: pointer;
        display: grid;
        place-content: center;
        row-gap: 6px;
        padding: 4px 2px;
        margin-right: 5px;
    }

    .hamburger__line {
        width: 24px;
        height: 4px;
        background: #ffffff;
    }

    nav {
        position: fixed;
        width: 100%;
        z-index: 5;
    }

    nav::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        z-index: -1;
    }

    nav .nav-links, nav .contact-button {
        position: fixed;
    }

    nav .nav-links {
        z-index: -2;
        font-size: 20px;
        flex-direction: column;
        background: #2d2b46;
        box-shadow: -2px 0 3px -2px #2d2b46;
        top: 0;
        left: 100%;
        height: 100vh;
        padding: 120px 0;
        width: 300px;
        transition: transform .3s ease-in-out;
    }

    nav li {
        opacity: 0;
        transform: translateY(-30%);
        transition: opacity .3s .15s ease-in-out, transform .5s .15s ease-in-out;
    }

    nav .contact-button {
        top: calc(100vh - 100px);
        right: min(150px, 50%);
        transform: translateX(50%);
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s .25s ease-in-out;
    }

    .open-menu .nav-links {
        transform: translateX(-100%);
    }

    .open-menu li {
        opacity: 1;
        transform: translateY(0);
    }

    .open-menu .contact-button {
        visibility: visible;
        opacity: 1;
    }
}


/*
    HERO SECTION
*/
.hero {
    background-color: #25243A;
    color: #ffffff;
    padding: 135px 0;
}

.hero .container {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 48px 1fr 1fr 48px;
    gap: 75px 25px;
    overflow: hidden;
    position: relative;
}

.hero .left {
    max-width: 440px;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-self: center;
}

.hero .right {
    grid-column: span 1;
    width: 100%;
    max-width: 529px;
    align-self: center;
    position: relative;
    aspect-ratio: 1;
    z-index: 0;
}

.hero h3 {
    opacity: 50%;
}

.hero .btn {
    margin-top: 9px;
}

.hero .right img {
    position: absolute;
}

.hero .oval {
    border-radius: 50%;
    background-color: #302F4A;
    width: 100%;
    height: 100%;
}

.hero .tir {
    width: 31%;
    height: 29%;
    top: 10%;
    left: 0;
    z-index: 1;
}

.hero .tir2 {
    width: 59%;
    height: 47%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.hero .paczka {
    width: 33%;
    height: 25%;
    right: 0;
    top: 10%;
    z-index: 1;
}

.hero .literki {
    width: 47%;
    height: 25%;
    left: -5%;
    bottom: 10%;
    z-index: 0;
}

.hero .szlaczek {
    width: 37%;
    height: 34.5%;
    right: -10%;
    bottom: 8%;
    z-index: 0;
}

.hero .arrow {
    cursor: pointer;
    width: 48px;
    height: 48px;
    position: relative;
    top: 30%;
}

@media screen and (max-width: 1023px) {
    .hero .container {
        column-gap: 10px;
    }

    .hero .left {
        grid-column: 2 / 4;
        text-align: center;
        align-items: center;
    }

    .hero .right {
        grid-column: 2 / 4;
        justify-self: center;
        max-width: min(80%, 460px);
    }

    .hero .arrow-wrapper {
        grid-row: 1 / 3;
    }

    .hero .arrow-wrapper--right {
        grid-column: 4/5;
    }
}

@media screen and (max-width: 599px) {
    .hero {
        padding: 100px 0;
    }

    .hero .container {
        padding: 0 10px;
    }

    .hero .right {
        max-width: max(80%, 300px);
    }
}

/*
    ABOUT SECTION
*/
.about {
    padding: 160px 0;
    color: #4D5163;
}

.about .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px 50px;
    padding: 0 30px;
}

.about .left {
    grid-column: span 1;
    width: 100%;
    max-width: 528px;
    align-self: center;
    justify-self: end;
    position: relative;
    aspect-ratio: 1;
    z-index: 0;
}

.about .right {
    grid-column: span 1;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.about .oval {
    border-radius: 50%;
    background-color: #E6F0FF;
    width: 100%;
    height: 100%;
}

.about img {
    position: absolute;
}

.about .statek2 {
    width: 59.5%;
    height: 62%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.about .oceny {
    width: 47%;
    height: 25.5%;
    top: 5%;
    left: 0;
    z-index: 2;
}

.about .statek {
    width: 31.5%;
    height: 29%;
    right: 5%;
    top: 5%;
}

.about .pracownik {
    width: 31.5%;
    height: 26.5%;
    right: 2%;
    bottom: 2%;
}

.about .szlaczek2 {
    width: 78%;
    height: 53.5%;
    bottom: -5%;
    left: -12%;
}

.about h3 {
    color: #0666F6;
    margin-bottom: 21px;
}

.about h2 {
    margin-bottom: 25px;
    max-width: 400px;
}

.about h4 {
    margin-bottom: 16px;
}

.about .btn {
    margin-top: 41px;
}

@media screen and (max-width: 1023px) {
    .about {
        padding-top: 120px;
    }
    .about .left {
        grid-column: 1 / -1;
        justify-self: center;
        grid-row: 2;
        max-width: min(80%, 460px);
    }
    .about .right {
        grid-column: 1 / -1;
        text-align: center;
        align-items: center;
        max-width: 640px;
    }
}

@media screen and (max-width: 599px) {
    .about {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .about .container {
        padding: 0 16px;
    }
}


/*
    STATS SECTION
*/
.stats {
    color: #4D5163;
    padding: 100px 0;
}

.stats .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.stats .items {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats .heading {
    font-family: 'Black Ops One', cursive;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 48px;
    max-width: 640px;
    text-align: center;
    margin-bottom: 47px;
}

.stats .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.stats .item__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.stats .item_text {
    font-size: 14px;
    opacity: 0.5;
}

@media screen and (max-width: 1023px) {
    .stats {
        padding-top: 60px;
    }

    .stats .heading {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 32px;
    }

    .stats .items {
        width: 90%;
    }
}

@media screen and (max-width: 799px) {
    .stats {
        padding-bottom: 80px;
    }
    .stats .items {
        flex-direction: column;
        row-gap: 50px;
    }
}


/*
    EASY-STEPS SECTION
*/
.easy-steps {
    color: #4D5163;
    padding: 100px 0;
}

.easy-steps .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.easy-steps h3 {
    color: #0666F6;
    margin-bottom: 21px;
}

.easy-steps .text-description {
    text-align: center;
    max-width: 570px;
    margin-top: 11px;
    margin-bottom: 5px;
}

.easy-steps .items {
    margin: 64px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 20px;
    width: 90%;
}

.easy-steps .item {
    grid-column: span 1;
    max-width: 270px;
}

.easy-steps h1 {
    color: #ffffff;
    width: 112px;
    height: 112px;
    background-color: #ED7171;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-bottom: 24px;
    font-size: 72px;
}

.easy-steps .item__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 19px;
}

.easy-steps .item__text {
    font-size: 16px;
    line-height: 32px;
    opacity: 0.5;
}

.easy-steps .bottom .grey {
    opacity: 0.5;
}

.easy-steps a {
    color: #4D5163;
    text-decoration: none;
    margin-left: 9px;
}

@media screen and (max-width: 1199px) {
    .easy-steps .items {
        column-gap: 50px;
    }
    .easy-steps .item {
        grid-column: span 2;
    }

    .easy-steps .item:nth-child(2n+1) {
        justify-self: end;
    }
}

@media screen and (max-width: 599px) {
    .easy-steps .container {
        padding: 0 16px;
    }

    .easy-steps .items {
        text-align: center;
    }

    .easy-steps h1 {
        margin: 15px auto;
    }

    .easy-steps .item {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .easy-steps .item:nth-child(2n+1) {
        justify-self: center;
    }
}


/*
    SERVICE SECTION
*/
.service {
    color: #ffffff;
    background-color: #25243A;
    padding: 200px 0;
}

.service .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px 100px;
    padding: 0 24px;
}

.service .left {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    justify-self: end;
}

.service .right {
    grid-column: span 1;
    width: 100%;
    max-width: 480px;
    align-self: center;
    justify-self: center;
    position: relative;
    aspect-ratio: 1;
    z-index: 0;
}

.service h3 {
    opacity: 0.5;
    margin-bottom: 21px;
}

.service h2 {
    margin-bottom: 25px;
}


.service h4 {
    margin-bottom: 18px;
}

.service a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 25px;
}

.service .oval {
    background-color: #3D3C5B;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.service .dostawca {
    position: absolute;
    width: 56%;
    height: 55%;
    top: 26%;
    left: 12%;
    background-color: #ED7171;
    border-radius: 32px;
    z-index: 1;
}

.service img {
    position: absolute;
    width: 82%;
    height: 88%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.service .samolot {
    width: 42%;
    height: 41.5%;
    left: 10%;
    bottom: 5%;
    z-index: 0;
}

.service .dostawa {
    width: 25%;
    height: 26%;
    top: 10%;
    left: 10%;
    z-index: 1;
}

.service .tir1 {
    width: 51.5%;
    height: 52%;
    top: -12%;
    left: 75%;
}

.service .statek1 {
    width: 42%;
    height: 41.5%;
    bottom: -2%;
    left: 75%;
}

.service .szlaczek3 {
    width: 58%;
    height: 66%;
    top: -18%;
    left: 5%;
}

@media screen and (max-width: 1023px) {
    .service {
        padding: 150px 0;
    }
    .service .left {
        grid-column: 1 / -1;
        justify-self: center;
        text-align: center;
        max-width: 680px;
    }
    .service .right {
        grid-column: 1 / -1;
        max-width: min(80%, 460px);
    }
}

@media screen and (max-width: 599px) {
    .service {
        padding: 100px 0;
    }
}



/*
    TRANSPORT SECTION (BOTH)
*/
.transport {
    background-color: #25243A;
    color: #ffffff;
    padding-bottom: 170px;
}

.transport .container {
    padding: 0 24px;
}

.transport .box {
    position: relative;
    background-color: #0666F6;
    border-radius: 32px;
    height: 400px;
    padding: 0 110px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transport .text-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    z-index: 1;
}

.transport h3 {
    opacity: 0.5;
    margin-bottom: 21px;
}

.transport h2 {
    margin-bottom: 11px;
}

.transport .szlaczek4 {
    position: absolute;
    width: 710px;
    left: 50%;
}

.transport .btn {
    z-index: 1;
}

.transport2 {
    padding: 50px 0;
}

.transport2 .szlaczek6 {
    position: absolute;
    right: -10%;
}

@media screen and (max-width: 1023px) {
    .transport .container {
        padding: 0 16px;
    }

    .transport .box {
        flex-direction: column;
        justify-content: center;
        row-gap: 50px;
        text-align: center;
    }

    .transport .szlaczek4 {
        left: 60%;
        top: -40%;
    }

    .transport2 .szlaczek6 {
        left: -20%;
    }
}

@media screen and (max-width: 799px) {
    .transport .szlaczek4, .transport2 .szlaczek6 {
        display: none;
    }

    .transport .box {
        padding: 24px 12px;
    }
}

@media screen and (max-width: 599px) {
    .transport .container {
        padding: 0 8px;
    }

    .transport .box {
        row-gap: 20px;
        border-radius: 5px;
    }

    .transport .text-wrapper {
        margin-bottom: 0;
    }
}


/*
    OUR-TEAM SECTION
*/
.our-team {
    color: #4D5163;
    padding: 100px 0;
}

.our-team .container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.our-team .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team h3 {
    color: #0666F6;
    margin-bottom: 21px;
}

.our-team h2 {
    margin-bottom: 11px;
}

.our-team .header-wrapper .text-description {
    max-width: 560px;
    text-align: center;
}


.our-team .content-wrapper {
    display: flex;
    column-gap: 75px;
    align-items: center;
    padding: 80px 120px;
}

.our-team .photo {
    width: 422px;
    height: 400px;
}

.our-team .text-wrapper {
    display: flex;
    flex-direction: column;
}

.our-team .main-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 17px;
}

.our-team .person {
    margin-top: 26px;
    margin-bottom: 21px;
}

.our-team .name {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 32px;
}

.our-team .job {
    font-size: 16px;
    opacity: 0.5;
}

.our-team .slideshow-arrows {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.our-team .slideshow-arrows > * {
    cursor: pointer;
    width: 48px;
    height: 48px;
}


@media screen and (max-width: 1199px) {
    .our-team .content-wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 1023px) {
    .our-team .container {
        align-items: center;
    }

    .our-team .content-wrapper {
        max-width: 800px;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    .text-wrapper {
        align-items: center;
        margin-bottom: 25px;
    }

    .our-team .photo {
        width: 336px;
        height: 320px;
    }
}

@media screen and (max-width: 599px) {
    .our-team {
        padding: 60px 0;
    }

    .our-team .header-wrapper {
        text-align: center;
    }

    .our-team .content-wrapper {
        padding: 40px 30px;
    }

    .our-team .photo {
        width: 268px;
        height: 256px;
    }
}


/*
    QUOTATION SECTION
*/
.quotation {
    background-color: #25243A;
    color: #ffffff;
    padding: 90px 0;
}

.quotation .container{
    padding: 0 30px;
    max-width: 830px;
}

.quotation .apo {
    font-family: 'Black Ops One', cursive;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -3px;
    margin-bottom: 29px;
}

.quotation .text {
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 45px;
}

.quotation .author {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.quotation img {
    width: 80px;
    height: 80px;
}

.quotation .name {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 3px;
}

.quotation .tag {
    font-size: 16px;
    line-height: 32px;
    opacity: 0.5;
}

@media screen and (max-width: 599px) {
    .quotation {
        padding: 30px 0;
    }

    .quotation .apo {
        font-size: 64px;
        line-height: 64px;
        margin-bottom: 0;
    }

    .quotation .text {
        font-size: 26px;
        line-height: 32px;
    }
    .quotation img {
        width: 64px;
        height: 64px;
    }

    .quotation .name {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .quotation .author {
        column-gap: 10px;
    }
}


/*
    COST SECTION
*/
.cost {
    background-color: #25243A;
    padding: 180px 0;
    overflow: hidden;
}

.cost .container {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cost .left {
    grid-column: span 1;
    color: #ffffff;
    max-width: 470px;
    justify-self: center;
    align-self: center;
}

.cost .right {
    grid-column: span 1;
    color: #4D5163;
    display: grid;
}

.cost .box {
    max-width: 506px;
    aspect-ratio: 253/192;
    background-color: #ffffff;
    border-radius: 32px;
    padding: 33px 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    justify-self: center;
}

.cost .box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    z-index: -1;
}

.cost h3 {
    opacity: 0.5;
    margin-bottom: 21px;
}

.cost h2 {
    margin-bottom: 25px;
}


.cost .button-contact-us{
    cursor: pointer;
    font-family: 'Black Ops One', cursive;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    width: 170px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 12px;
    display: grid;
    place-content: center;
    margin-top: 38px;
}

.cost .right .heading {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 6px;
    margin-bottom: 24px;
    margin-left: 48px;
}

.cost .right .btn {
    margin-top: 32px;
    align-self: center;
}

.cost .items {
    background-color: #E3EEFF;
    height: 176px;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 16px 0;
}

.cost .small-box {
    width: 42px;
    height: 42px;
}

.cost .medium-box {
    width: 64px;
    height: 64px;
}

.cost .medium-box path {
    fill: #4D5163;
}

.cost .big-box {
    width: 77px;
    height: 77px;
}

.cost .big-box path {
    fill: #ED7171;
}

.cost .item__text {
    font-size: 20px;
    line-height: 32px;
}

.cost .szlaczek5 {
    position: absolute;
    width: 570px;
    height: 662px;
    top: -36%;
    left: -10%;
    z-index: -2;
}

.cost .oval1, .cost .oval2 {
    position: absolute;
    aspect-ratio: 1;
    background-color: #383759;
    border-radius: 50%;
    z-index: -2;
}

.cost .oval1{
    width: 49%;
    top: -15%;
    left: -8%;
}

.cost .oval2 {
    width: 68%;
    right: -8%;
    bottom: -18%;
}

@media screen and (max-width: 1023px) {
    .cost {
        padding-top: 120px;
    }

    .cost .container {
        row-gap: 120px;
    }

    .cost .left {
        grid-column: 1 / -1;
        justify-self: start;
        margin-left: 8%;
        z-index: 1;
    }

    .cost .right {
        grid-column: 1 / -1;
        z-index: 0;
    }

    .cost .right .heading {
        margin: auto 0;
        text-align: center;
    }
}

@media screen and (max-width: 599px) {
    .cost .container {
        padding: 0 16px;
    }

    .cost .left {
        margin-left: 0;
    }
    .cost .box {
        width: 100%;
    }

    .cost .szlaczek5 {
        display: none;
    }

    .cost .right .heading {
        padding-bottom: 5px;
    }
}

/*
    FAQ SECTION
*/
.faq {
    background-color: #25243A;
    color: #4D5163;
    padding: 50px 24px;
}

.faq .container {
    background: #ffffff;
    border-radius: 32px;
    padding: 120px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq .header-wrapper{
    max-width: 570px;
    text-align: center;
}

.faq h3 {
    color: #0666F6;
    margin-bottom: 21px;
}

.faq h2 {
    margin-bottom: 11px;
}

.faq .questions {
    margin-top: 60px;
    margin-bottom: 150px;
    max-width: 770px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.faq .questions__item .question {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.faq .questions__item .question img {
    width: 16px;
    height: 10px;
    margin-left: 14px;
}

.faq .answer {
    font-size: 16px;
    line-height: 32px;
    background-color: #E3EEFF;
    border-radius: 24px;
    padding: 27px 32px 20px 32px;
}

.faq .slideshow {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    align-items: center;
    width: 100%;
    padding: 0 5px;
}

.faq .slideshow__arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.faq .slideshow__arrow img {
    width: 100%;
    height: 100%;
}

.faq .brands-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 100%;
}

.faq .logo1 {
    max-width: 191px;
    max-height: 54px;
}
.faq .logo2 {
    max-width: 140px;
    max-height: 52px;
}
.faq .logo3 {
    max-width: 152px;
    max-height: 61px;
}
.faq .logo4 {
    max-width: 112px;
    max-height: 50px;
}

@media screen and (max-width: 799px) {
    .faq .container {
        padding: 80px 20px;
    }
}

@media screen and (max-width: 599px) {
    .faq {
        padding: 40px 16px;
    }

    .faq .questions {
        margin-bottom: 100px;
    }

    .faq .questions__item .question {
        font-size: 22px;
    }

    .faq .answer {
        padding: 20px;
    }
}


/*
    CONTACT SECTION
*/
.contact {
    background-color: #25243A;
    color: #ffffff;
    padding-top: 140px;
    padding-bottom: 110px;
}

.contact .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 0 30px;
}

.contact .left {
    grid-column: span 1;
    max-width: 470px;
    justify-self: center;
    align-self: center;
}

.contact .right {
    grid-column: span 1;
    max-width: 570px;
    aspect-ratio: 57/56;
}

.contact h3{
    opacity: 0.5;
    margin-bottom: 21px;
}

.contact h2 {
    margin-bottom: 25px;
}

.contact h4 {
    margin-bottom: 33px;
}

.contact .info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.contact .item {
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.contact .item__img {
    width: 48px;
    height: 48px;
}

.contact .item__text {
    font-size: 20px;
    line-height: 32px;
}

.contact .map {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1023px) {
    .contact .container {
        width: fit-content;
    }
    .contact .left {
        grid-column: 1 / -1;
        justify-self: start;
    }

    .contact .right {
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 799px) {
    .contact .item__text {
        font-size: 18px;
    }
}


/*
    FOOTER
*/
footer {
    background-color: #25243A;
    color: #ffffff;
    padding-top: 46px;
    padding-bottom: 52px;
}

footer .container {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

footer .main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer .logo {
    width: 81px;
    height: 48px;
    margin-top: -20px;
}

footer .logo img {
    width: 100%;
    height: 100%;
}

footer h3 {
    opacity: 0.5;
}

footer ul {
    list-style: none;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

footer .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
}

footer .social-media {
    justify-self: end;
    display: flex;
    column-gap: 8px;
}

footer .horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.16;
    margin-top: 70px;
    margin-bottom: 42px;
}

footer .bottom {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .bottom__left {
    opacity: 0.5;
}

footer .bottom__right {
    display: flex;
    column-gap: 70px;
}

@media screen and (max-width: 1023px) {
    footer .main-content {
        gap: 50px;
    }
    footer .logo {
        grid-column: 1 / -1;
        justify-self: center;
        margin-top: 25px;
    }

    footer .main-content__menu, footer .main-content__service {
        grid-column: span 2;
        justify-self: center;
    }

    footer .social-media {
        grid-column: 1 / -1;
        justify-self: center;
        column-gap: 12px;
    }

    footer .bottom__right  {
        column-gap: 30px;
    }
}

@media screen and (max-width: 799px) {
    footer .bottom {
        flex-direction: column-reverse;
        row-gap: 25px;
    }

    footer .main-content__menu, footer .main-content__service {
        grid-column: 1 / -1;
        text-align: center;
    }

    footer .container {
        padding: 0 30px;
    }

    footer .copyright-text {
        text-align: center;
    }
}
